language: minimal
services: docker

arch:
  - arm64

#matrix:
#  include:
#   - os: linux
#     arch: arm64

before_script:
  - git clone https://github.com/leto1210/duplicacy-web-arm.git
  - export TARGET_IMAGE_TAG=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then if [ "$TRAVIS_BRANCH" = "master" ]; then echo "armhf"; else echo "$TRAVIS_BRANCH-armhf"; fi; else echo ""; fi)


script:
  - docker build -t $DOCKER_USERNAME/duplicacy-web-arm:$TRAVIS_BUILD_NUMBER .
  - docker images
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push $DOCKER_USERNAME/duplicacy-web-arm:$TRAVIS_BUILD_NUMBER

after_success:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else (echo $TRAVIS_BRANCH) ; fi`
  - docker build -t $DOCKER_USERNAME/duplicacy-web-arm:$TAG .
  - docker push $DOCKER_USERNAME/duplicacy-web-arm:$TAG
